.bar-container{
    display: flex;
    width: 100vw;
}

.bar-outer {
    position: relative;
    width: 30vw;
}

.bar {
    position: fixed;
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content {
    overflow: auto;
    flex: 1;
}

.types-item{
    /*flex: 1;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.item-img {
    width: 20vw;
    height: 20vw;
}
